@import "~pip-webui2-themes/variables";

:host {
    pip-document-content {
        padding: 0px!important;
        height: 100%;
        mat-icon {
            padding: 8px!important;
        }
        .pip-document-content-wrapper {
            flex: 0 1 100%;
            display: flex;
            flex-direction: column;
            height: 100%;
            form {
                padding: 24px;
                &.multi {
                    padding-bottom: 0;
                }
                mat-radio-group {
                    padding: 6px 0;
                }
            }
            form + div {
                padding: 8px 24px 24px 24px;
            }
            mat-tab-group {
                flex-grow: 1;
                /deep/ .mat-tab-body-wrapper {
                    flex: 1 1 100%;
                    min-height: 136px;
                }
                /deep/ .mat-tab-label {
                    text-transform: uppercase;
                    min-width: 0px;
                    padding: 0 16px;
                    &.mat-tab-label-active {
                        opacity: 1;
                    }
                }
            }
        }
        .pip-loading {
            position: absolute;
            width: 100%;
            left: 0;
            top: 1px;
        }
    }
}

.pip-lt-sm :host /deep/ {
    .mat-tab-label {
        flex: 1;
    }
}

@mixin deviceprofiles-container-mixin($theme) {
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);
    mat-icon[matListIcon] {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast);
    }
    .mat-ink-bar {
        background-color: mat-color($accent)!important;
    }
}

@each $class,$theme in $themes {
    /deep/ .#{$class} {
        @include deviceprofiles-container-mixin($theme);
    }
}