<h1 mat-dialog-title class="pip-header">{{ dialogTitle | translate }}</h1>
<div mat-dialog-content class="pip-content">
  <form fxLayout="column" [formGroup]="form">
    <mat-form-field>
      <input matInput name="id" type="number" formControlName="id" required />
      <mat-placeholder>
        <span>{{ 'PARAM_DIALOG_INDEX' | translate }}</span>
      </mat-placeholder>
      <mat-error *ngIf="hasError('id', 'required')">{{ 'PARAM_DIALOG_INDEX_REQUIRED' | translate }}</mat-error>
      <mat-error *ngIf="hasError('id', 'exist')">{{ 'PARAM_DIALOG_INDEX_EXIST' | translate }}</mat-error>
      <mat-error *ngIf="hasError('id', 'min')">
        {{ 'PARAM_DIALOG_INDEX_GT_100' | translate:{value: form.get('id').getError('min').min} }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="name" formControlName="name" />
      <mat-placeholder>
        <span>{{ 'PARAM_DIALOG_NAME' | translate }}</span>
      </mat-placeholder>
    </mat-form-field>
    <mat-form-field>
      <mat-select name="type" formControlName="type">
        <mat-option *ngFor="let param of params$ | async" [value]="param.id">
          {{ dpTranslate.getTranslation('param', param.name) }}
        </mat-option>
      </mat-select>
      <mat-placeholder>
        <span>{{ 'PARAM_DIALOG_TYPE' | translate }}</span>
      </mat-placeholder>
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="8px">
      <mat-form-field>
        <input matInput type="number" name="min_value" formControlName="min_value" />
        <mat-placeholder>
          <span>{{ 'PARAM_DIALOG_MIN_VALUE' | translate }}</span>
        </mat-placeholder>
        <mat-error *ngIf="hasError('min_value', 'range')">{{ 'PARAM_DIALOG_MIN_RANGE' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" name="max_value" formControlName="max_value" />
        <mat-placeholder>
          <span>{{ 'PARAM_DIALOG_MAX_VALUE' | translate }}</span>
        </mat-placeholder>
        <mat-error *ngIf="hasError('max_value', 'range')">{{ 'PARAM_DIALOG_MAX_RANGE' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" *ngIf="!noScaleAndOffset">
      <mat-form-field>
        <input matInput type="number" name="scale" formControlName="scale" />
        <mat-placeholder>
          <span>{{ 'PARAM_DIALOG_SCALE' | translate }}</span>
        </mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" name="offset" formControlName="offset" />
        <mat-placeholder>
          <span>{{ 'PARAM_DIALOG_OFFSET' | translate }}</span>
        </mat-placeholder>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <ng-container *ngIf="!readonly">
    <button mat-button matDialogClose>{{ 'PARAM_DIALOG_ACTION_CANCEL' | translate }}</button>
    <button mat-button (click)="onTryAdd()" [disabled]="form.invalid">
      {{ actionButtonText | translate }}
    </button>
  </ng-container>
  <ng-container *ngIf="readonly">
    <button mat-button matDialogClose>{{ 'PARAM_DIALOG_ACTION_CLOSE' | translate }}</button>
  </ng-container>
</div>